{% from "_includes/forms" import autosuggestField %}

{{ autosuggestField({
  label: 'API Token'|t('commerce-pay'),
  id: 'apiToken',
  class: 'ltr',
  name: 'apiToken',
  suggestEnvVars: true,
  value: gateway.getApiToken(false),
  errors: gateway.getErrors('apiToken')
}) }}

{{ autosuggestField({
  label: "Token Code"|t('commerce-pay'),
  id: 'tokenCode',
  class: 'ltr',
  name: 'tokenCode',
  suggestEnvVars: true,
  value: gateway.getTokenCode(false),
  errors: gateway.getErrors('tokenCode')
}) }}

{{ autosuggestField({
  label: "Service ID"|t('commerce-pay'),
  id: 'serviceId',
  class: 'ltr',
  name: 'serviceId',
  suggestEnvVars: true,
  value: gateway.getServiceId(false),
  errors: gateway.getErrors('serviceId')
}) }}
